<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.tcm.admin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tcmadmin</string>
				<string>tcm</string>
			</array>
		</dict>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>需要访问相机进行处方、药材条码及设备二维码扫描识别</string>
</dict>
</plist>
